@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color: var(--Light-Grayish-blue);
}
:root{
    --Very-dark: hsl(217, 19%, 35%);
    --Dark-blue:hsl(214, 17%, 51%);
    --Grayish-blue:hsl(212, 23%, 69%);
    --Light-Grayish-blue:hsl(210, 46%, 95%);
    --White-blue:#ffffff;
}

.d-f{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.b{
    border: 1px solid red;
}
p{
    color: var(--Grayish-blue);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;

}